<h1>Grades</h1>
<%if session[:user_type] == "teacher"%>
  <%= link_to "Add Grades", new_grade_path %>
  <p> Click on a grade record to edit that grade </p>
<%end %>
<%if session[:user_type] == "student"%>
  Welcome, <%= Student.find(session[:user_id]).name %>. Your grades are below.
<% end %>
<%if session[:user_type] == "parent"%>
  Welcome, <%= Parent.find(session[:user_id]).parent_name %>.
  <%= Parent.find(session[:user_id]).students.first.name %>'s grades are below.
<% end %>
<p><%= student_grades %></p>
